# COURSERA EXAMPLE

# HELLO EVERYONE I AM AKANKSHA SHARMA A IBM DATA SCIENCE STUDENT IN COURSERA

# DATA SCIENCE LANGUAGES ARE:
#### PYTHON
#### R
#### SQL
#### JAVA
#### SCALA
#### JULIA

# DATA SCINECE LIBRARIES ARE
#### NUMPY
#### PANDAS
#### MATPLOTLIB
#### SCIKIT-LEARN
#### KERAS
#### TENSORFLOW

# DATA SCIENCE TOOLS ARE
#### JUPYTER NOTEBOOK
#### APACHE SPARK
#### TENSORFLOW
#### APACHE HADOOP
#### TABLEAU

# Introduction to Arithmetic Expressions

Arithmetic expressions are combinations of numbers, operators, and sometimes parentheses that represent a value. They are used in mathematics to perform calculations and in programming to execute mathematical operations. Here are a few examples of arithmetic expressions:

1. *Addition*: 3 + 5 evaluates to 8.
2. *Subtraction*: 10 - 4 evaluates to 6.
3. *Multiplication*: 6 * 7 evaluates to 42.
4. *Division*: 20 / 4 evaluates to 5.
5. *Exponentiation*: 2^3 evaluates to 8.
6. *Parentheses*: (2 + 3) * 4 evaluates to 20 because the expression inside the parentheses is calculated first.

# ADDITION AND MULTIPLICATION OF TWO NUMBERS

In [2]:
a=5
b=5
sum=a+b #addition

x=5
y=5
mul=x*y   #multiplication

print(f"sum of {a} and {b} is : {sum}")
print(f"multiplication of {x} and {y} is : {mul}")

sum of 5 and 5 is : 10
multiplication of 5 and 5 is : 25

# Convert minutes to hours

In [3]:
# Given number of minutes
minutes = 120

# Conversion factor
minutes_in_an_hour = 60

# Converting minutes to hours
hours = minutes / minutes_in_an_hour

# Displaying the result
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

# OBJECTIVES
1. CREATED A TITLE OF NOTEBOOK
2. CREATED A MARKDOWN CELL FOR INTRODUCTION
3. CREATED A MARKDOWN CELL TO LIST DATA SCIENCE LANGUAGES
4. CREATED A MARKDOWN CELL TO LIST DATA SCIENCE LIBRARIES
5. CREATED A MARKDOWN CELL TO LIST DATA SCIENCE TOOLS
6. CREATED A MARKDOWN CELL INTRODUCING ARITHMETIC EXPRESSION EXAMPLE
7. WRITTEN A CODE TO MULTIPLY AND ADD NUMBERS
8. WRITTEN A CODE TO CONVERT MINUTES INTO HOURS

# AUTHOR NAME
# AKANKSHA SHARMA